<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8"/>
    <script src="../jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#contact-submit").click(function(){
                var a=$(":input");
                    if(a.value=="") {
                        alert("文本框内容不能为空！");
                    }
                    else{
                        sendData();
                    }
                function sendData() {
                    $.ajax({
                        type: "post",
                        url: "/addStudent",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            phoneNumber:$('#phone').val(),
                            studentName:$('#name').val(),
                            college:$('#college').val(),
                            className:$('#class').val(),
                            grade:$('#grade').val(),
                            selfIntroduction:$('#self').val(),
                            honor:$('#honor').val()
                        }),
                        success: function (data,status) {
                            alert("提交成功  "+status);
                        }
                    });
                }
            });
        });

    </script>
  <title>项目技术部报名</title>

    <link rel="stylesheet" href="bootstrap/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="container">
  <form id="contact">
  <!--  <div>
     <img src="logo.png" width="80px">
    <h3 >项目技术部2016招新</h3>
   </div> -->
<!--     <div>
     <img  class="lg_img"  src="logo.png" style="vertical-align:middle;" width="80px "; >
    <h3 class="logo">技术部2016招新</h3>
 </div> -->

    <p class="logo">
    <img class="bottom" border="0" src="logo.png" width="65px" height="28px" />技术部2016招新
    </p>
       
    <h4>还不快到碗里来ヽ(•̀ω•́ )ゝ </h4>
    <fieldset>
      <input id="name" placeholder="姓 名" type="text" tabindex="1" required="required" autofocus="autofocus" />
    </fieldset>
     <fieldset>
      <input id="grade" placeholder="年 级(如：2015)" type="text" tabindex="1" required="required" autofocus="autofocus"/>
    </fieldset>
    <fieldset>
      <input id="class" placeholder="专 业（如：计科一班）" type="text" tabindex="1" required="required" autofocus="autofocus"/>
    </fieldset>
    <fieldset>
      <input id="college" placeholder="学 院（如：计算机）" type="text" tabindex="1" required="required" autofocus="autofocus"/>
    </fieldset>
<!--<fieldset>-->
      <!--<input placeholder="Your Email Address" type="email" tabindex="2" required>-->
    <!--</fieldset>-->
    <fieldset>
      <input id="phone" placeholder="手 机" type="tel" tabindex="3" required="required" autofocus="autofocus"/>
    </fieldset>
  <!--   <fieldset>
      <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
    </fieldset> -->
    <fieldset>
      <textarea id="self" placeholder="自我介绍（不超过100字）" tabindex="5" required="required" autofocus="autofocus" ></textarea>
    </fieldset>
      <fieldset>
      <textarea id="honor" placeholder="项目经历/获奖情况（不超过150字）" tabindex="5" required="required" autofocus="autofocus"></textarea>
    </fieldset>
      <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    <br>
    <img src="../info.jpg" width="100%"/>
      </br>
  </form>

</div>
<div style="text-align:center;clear:both">

</div>
</body>

</html>